{% extends "base.html" %}
{% block title %} Welcome! {% endblock %}
{% block content %}
      <h5 class="header col s12 light">In the world of business, the people who are most successful are those who are doing what they love!</h5>
      </div>
      <div class="row center">

        <h5 class=>Emotion Predictor</h5>
        <ul>
          <li>Type in how you feel and see what comes up.</li> <!-- insert public link here-->
        </ul>
        <h5 class=>Data Visualisation</h5>
        <ul>
          <li>Visualise your data using our polynomial graph.</li> <!-- insert public link here-->
        </ul>
        <h5 class=>Data Collections</h5>
        <ul>
          <li>See how much data we've collected</li> <!-- insert public link here-->
        </ul>
        <h5 class=>Data Personnel</h5>
        <ul>
          <li>Does something special</li> <!-- insert public link here-->
        </ul>


        <!--<a href="/visualization" id="download-button" class="btn-large waves-effect waves-light orange">visualization</a>
      </div>-->
      <!--<a href="#" id="download-button" class="btn-large waves-effect waves-light orange">Emotions</a>-->
{% endblock %}
